.form-control {
    height: 40px !important;
    padding: 0.85rem 2rem !important;
    font-size: 1.4rem !important;
    line-height: 1.5 !important;
    font-weight: 300 !important;
    color: #777 !important;
    background-color: #fafafa !important;
    border: 1px solid #ebebeb !important;
    border-radius: 0 !important;
    margin-bottom: 2rem !important;
    transition: all 0.3s !important;
    box-shadow: none !important;
}

.btn-outline-primary-2 {
    color: #c96 !important;
    background-color: transparent !important;
    background-image: none !important;
    border-color: #c96 !important;
    box-shadow: none !important;
}

.invalid-feedback{
    margin-top: 0rem;
      font-size: 14px;
      color: #dc3545;
  }

  .invalid-feedback {
    display: block;
}

.ng-touched{border-color:red !important}
.invalid-field{border-color:red !important}